{% extends 'blogapp/base.html' %}
{% block title %}Create new Blog{% endblock title %}
{% block content %}
    
{% if user.is_authenticated %}
    {% if user.id == post.author.id %}
    <h1>hardee</h1>
    <div class="form-group">
        <div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-secondary">Post</button>
    </form>
    </div>
    </div>
    {% else %}
    You're not allowed here!
    {% endif %}
{% else %}
You're not allowed here!
{% endif %}

{% endblock %}